<section id="user-level-list-container">
    <section>
        <h2> {{ 'User Level List' | translate }}</h2>
    </section>
    <section>
        <button (click)="setDisplayModal(true)" class="btn btn-outline-link btn-sm">
            {{ 'Add' | translate }}
        </button>
    </section>
    <section>
        <clr-datagrid (clrDgRefresh)="fetchLevelUser($event)" [clrDgLoading]="levelUserLoading">
            <clr-dg-column clrDgField="id">
                {{ 'ID' | translate }}
            </clr-dg-column>
            <clr-dg-column clrDgField="name">
                {{ 'name' | translate }}
            </clr-dg-column>
            <clr-dg-column clrDgField="depositTotalAmount">
                {{ 'Total Deposit Amount' | translate }}
            </clr-dg-column>
            <clr-dg-column clrDgField="totalBetAmount">
                {{ 'Total Bet Amount' | translate }}
            </clr-dg-column>
            <clr-dg-column clrDgField="remarks">
                {{ 'Remarks' | translate }}
            </clr-dg-column>
            <clr-dg-column clrDgField="createdAt">
                {{ 'Created Date' | translate }}
            </clr-dg-column>
            <clr-dg-column clrDgField="updatedAt">
                {{ 'Modify Date' | translate }}
            </clr-dg-column>
            <clr-dg-column clrDgField="status">
                {{ 'Status' | translate }}
            </clr-dg-column>
            
    
            <clr-dg-row *ngFor="let levelUser of levelUsers">
                <clr-dg-cell>
                    {{ levelUser.id }}
                </clr-dg-cell>
                <clr-dg-cell>
                    {{ levelUser.name }}
                </clr-dg-cell>
                <clr-dg-cell>
                    {{ levelUser.depositTotalAmount | number }}
                </clr-dg-cell>
                <clr-dg-cell>
                    {{ levelUser.totalBetAmount | number }}
                </clr-dg-cell>
                <clr-dg-cell>
                    {{ levelUser.remarks }}
                </clr-dg-cell>
                <clr-dg-cell>
                    <app-date [date]="levelUser.createdAt"></app-date>
                </clr-dg-cell>
                <clr-dg-cell>
                    <app-date [date]="levelUser.updatedAt"></app-date>
                </clr-dg-cell>
                <clr-dg-cell>
                    <span [ngClass]="{
                        'label-danger': ( levelUser.status | lowercase ) != 'active',
                        'label-info': ( levelUser.status | lowercase ) == 'active'
                    }" class="label">
                        {{ levelUser.status | translate | uppercase }}
                    </span>
                </clr-dg-cell>
                
            </clr-dg-row>
        <clr-dg-footer>{{levelUsers.length}} {{' Level Users' | translate }}</clr-dg-footer>
        </clr-datagrid>
    </section>
</section>
<clr-modal *ngIf="displayModal" [(clrModalOpen)]="displayModal" [clrModalClosable]="false" [clrModalStaticBackdrop]="true">
    <h3 class="modal-title">
        {{ 'User Level Form' | translate }}
    </h3>q
    <div class="modal-body">
        <p>
            {{ 'Are you sure you want to lock/unlock the account' | translate }}? 
        </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-inverse btn-sm" (click)="setModalDisplay()">
            {{ 'Cancel' | translate }}
        </button>
    </div>
</clr-modal>