 <section id="user-list-container">
    <section>
        <h1>{{ 'User List' | translate }}</h1>
    </section>
    <clr-datagrid (clrDgRefresh)="refresh($event)" [clrDgLoading]="usersLoading">
        <clr-dg-column clrDgField="id">
            {{ 'User_ID' | translate }}
        </clr-dg-column>
        <clr-dg-column clrDgField="username">
            {{ 'Username' | translate }}
        </clr-dg-column>
        <clr-dg-column clrDgField="Agency">
            {{ 'Agency' | translate }}
        </clr-dg-column>
        <clr-dg-column clrDgField="levelUser.id">
            {{ 'Level User Name' | translate }}
        </clr-dg-column>
        <clr-dg-column clrDgField="email">
            {{ 'Email' | translate }}
        </clr-dg-column>
        <clr-dg-column clrDgField="status">
            {{ 'Status' | translate }}
        </clr-dg-column>
        

        <clr-dg-row *ngFor="let user of users">
            <clr-dg-cell>
                <a routerLink="/users/{{ user.id }}" routerLinkActive="active"  class="nav-link nav-text">
                    {{ user.id }}
                </a>
            </clr-dg-cell>
            <clr-dg-cell>
                <a routerLink="/users/{{ user.id }}" routerLinkActive="active"  class="nav-link nav-text">
                    {{ user.username }}
                </a>
            </clr-dg-cell>
            <clr-dg-cell>
                {{ user.agency | translate }}
            </clr-dg-cell>
            <clr-dg-cell>
                {{ user.levelUser.name | translate }}
            </clr-dg-cell>
            <clr-dg-cell>
                {{ user.email }}
            </clr-dg-cell>
            <clr-dg-cell>
                <span [ngClass]="{
                    'label-danger': ( user.status | lowercase ) != 'active',
                    'label-info': ( user.status | lowercase ) == 'active'
                }" class="label">
                    {{ user.status | translate | uppercase }}
                </span>
            </clr-dg-cell>
            
        </clr-dg-row>
        <clr-dg-footer>{{users.length}} users</clr-dg-footer>
    </clr-datagrid>
</section>