<clr-modal [(clrModalOpen)]="displayModal" [clrModalClosable]="false" [clrModalStaticBackdrop]="true">
    <h3 class="modal-title">
        {{ 'Deposit Audit' | translate }}
    </h3>
    <div class="modal-body">
        <form class="clr-form">
            <textarea id="vertical-textarea-basic"
                [(ngModel)]="deposit.errorCode" name="error-code"
                placeholder="{{ 'Enter Audit Message Here' | translate }}" class="clr-textarea"></textarea>
            <span class="clr-subtext">
                {{ 'Please double check user`s deposit' | translate }}
            </span>
       </form>
    </div>
    <div class="modal-footer">
        <button [hidden]="( deposit.status | lowercase ) ==  'approved'"
            (click)="setStatus('approved')" type="button" 
            class="btn btn-primary-outline btn-sm">
            {{ 'Approve' | translate }}
        </button>
        <button [hidden]="( deposit.status | lowercase ) ==  'reject'" 
            (click)="setStatus('reject')" type="button" 
            class="btn btn-danger-outline btn-sm">
            {{ 'Reject' | translate }}
        </button>
        <button [hidden]="( deposit.status | lowercase ) ==  'pending'"
            (click)="setStatus('pending')" type="button"
            class="btn btn-inverse btn-sm">
            {{ 'Pending' | translate }}
        </button>

        <button type="button" class="btn btn-inverse btn-sm" (click)="close()">
            {{ 'Cancel' | translate }}
        </button>
    </div>
</clr-modal>