<section id="list-activity-container">
    <section>
        <h2>{{ 'Activity List' | translate }}</h2>
    </section>
    <section>
        <clr-datagrid (clrDgRefresh)="fetchActivities($event)" [clrDgLoading]="activityLoading">
            <clr-dg-column clrDgField="id">
                {{ 'Id' | translate | uppercase }}
            </clr-dg-column>
            <clr-dg-column clrDgField="user.username">
                {{ 'User' | translate | uppercase }}
            </clr-dg-column>
            <clr-dg-column clrDgField="description">
                {{ 'Description' | translate | uppercase }}
            </clr-dg-column>
            <clr-dg-column clrDgField="createdAt">
                {{ 'Date' | translate | uppercase }}
            </clr-dg-column>
            <clr-dg-column clrDgField="action">
                {{ 'Action' | translate | uppercase }}
            </clr-dg-column>
            <clr-dg-row *ngFor="let activity of activities">
                <clr-dg-cell>
                    {{ activity.id }}
                </clr-dg-cell>
                <clr-dg-cell>
                    {{ activity.user.username }}
                </clr-dg-cell>
                <clr-dg-cell>
                    {{ activity.description | translate }}
                </clr-dg-cell>
                <clr-dg-cell>
                    <app-date [date]="activity.createdAt"></app-date>
                </clr-dg-cell>
                <clr-dg-cell>
                    {{ activity.action | translate }}
                </clr-dg-cell>       
            </clr-dg-row>
            <clr-dg-footer>{{ activities.length }} {{' Activities' | translate }}</clr-dg-footer>
        </clr-datagrid>
    </section>
</section>