<section id="transaction-list-container">
    <section>
        <h1>{{ 'Transaction List' | translate }}</h1>
    </section>
    <section>
        <clr-datagrid (clrDgRefresh)="fetchTransactions($event)" [clrDgLoading]="transactionLoading">
            <clr-dg-column clrDgField="id">
                {{ 'Id' | translate | uppercase }}
            </clr-dg-column>
            <clr-dg-column clrDgField="user.username">
                {{ 'Username' | translate | uppercase }}
            </clr-dg-column>
            <clr-dg-column clrDgField="type">
                {{ 'type' | translate | uppercase }}
            </clr-dg-column>
            <clr-dg-column clrDgField="createdAt">
                {{ 'Date' | translate | uppercase }}
            </clr-dg-column>
            <clr-dg-column clrDgField="amount">
                {{ 'Amount' | translate | uppercase }}
            </clr-dg-column>
            <clr-dg-column clrDgField="status">
                {{ 'Status' | translate | uppercase }}
            </clr-dg-column>
            <clr-dg-row *ngFor="let transaction of transactions">
                <clr-dg-cell>
                    {{ transaction.id }}
                </clr-dg-cell>
                <clr-dg-cell>
                    {{ transaction.user.username }}
                </clr-dg-cell>
                <clr-dg-cell>
                    {{ transaction.type | translate }}
                </clr-dg-cell>
                <clr-dg-cell>
                    <app-date [date]="transaction.createdAt"></app-date>
                </clr-dg-cell>
                <clr-dg-cell>
                    {{ transaction.amount | number }}
                </clr-dg-cell>
                <clr-dg-cell>
                    {{ transaction.status | translate | uppercase}}
                </clr-dg-cell>        
            </clr-dg-row>
            <clr-dg-footer>{{transactions.length}} {{' Transactions' | translate }}</clr-dg-footer>
        </clr-datagrid>
    </section>
</section>