.card-user-info {
    .information-container {
        .title , .value {
            display: inline-block;
            padding: 5px;
            font-size: 13px;
        }
        .title {
            color: #f4f4f4;
            width: auto;
            span {
                padding-left: 5px;
            }
        }
        .value {
            width: auto;
            float: right;
        }
        .user-status {
            font-weight: bold;
        }
    }
}
.cards-bet-summary {
    ::ng-deep .ngx-charts { text { fill: #f4f4f4 !important; } }
    .card-block {
        height: auto;
        overflow: auto;
    }
}
.card-activity-log {
    .card-block {
        max-height: 350px;
        overflow-y: auto;
    }
    .activity-container {
        div {
            margin: 0;
        }
        .date {
            padding: 5px;
        }
        .description-container {
            padding: 5px 15px;
            .description {
                text-align: justify;
            }
        }
        .date, .description-container {
            border-top: 1px solid #1a2a31;
        }
    }
}
.card-user-info, .cards-bet-summary, .card-history, .card-activity-log {
    padding: 0;
}