<div class="clr-row">
    <div class="clr-col-4">
        <div class="clr-col-12 card-user-info">
            <div class="card">
                <div class="card-header">
                    <div class="clr-col-12 center-content">
                        {{ 'User_Information' | translate | uppercase }}
                    </div>
                </div>
                <div class="card-block">
                    <div class="card-text">
                        <div class="information-container">
                            <div class="title">
                                <clr-icon shape="user" class="is-solid"></clr-icon>
                                <span>
                                    {{ 'Username' | translate }} :
                                </span>
                            </div>
                            <div class="value">
                                {{ user?.username }}
                            </div>
                        </div>
                        <div class="information-container">
                            <div class="title">
                                <clr-icon shape="dollar-bill" class="is-solid"></clr-icon>
                                <span>
                                    {{ 'Credits' | translate }} :
                                </span>
                            </div>
                            <div class="value">
                                {{ user?.credits | number }}
                            </div>
                        </div>
                        <div class="information-container">
                            <div class="title">
                                <clr-icon shape="envelope" class="is-solid"></clr-icon>
                                <span>
                                    {{ 'Email' | translate }} :
                                </span>
                            </div>
                            <div class="value">
                                {{ user?.email }}
                            </div>
                        </div>
                        <div class="information-container">
                            <div class="title">
                                <clr-icon shape="mobile" class="is-solid"></clr-icon>
                                <span>
                                    {{ 'Mobile' | translate }} :
                                </span>
                            </div>
                            <div class="value">
                                {{ user?.mobile_number }}
                            </div>
                        </div>
                        <div class="information-container">
                            <div class="title">
                                <clr-icon shape="user" class="is-solid"></clr-icon>
                                <span>
                                    {{ 'Status' | translate }} :
                                </span>
                            </div>
                            <div class="value">
                                <span [ngClass]="{
                                    'label-danger': ( user?.status | lowercase ) != 'active',
                                    'label-info': ( user?.status | lowercase ) == 'active'
                                }" class="label user-status">
                                    {{ user?.status | translate | uppercase }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-sm btn-link">
                        <clr-icon shape="pencil" class="is-solid"></clr-icon>
                        {{ 'Edit' | translate }}
                    </button>
                    <clr-dropdown>
                        <button type="button" class="btn btn-sm btn-link" clrDropdownTrigger>
                            {{ 'Action' | translate }}
                            <clr-icon shape="caret down"></clr-icon>
                        </button>
                        <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
                            <label class="dropdown-header">{{ 'Actions' | translate }}</label>
                            <button (click)="setModalDisplay(true)" type="button" clrDropdownItem>
                                <span *ngIf="user.status != 'active'">
                                    {{ 'Unlock_Account' | translate  }}
                                </span> 
                                <span *ngIf="user.status == 'active'">
                                    {{ 'Lock_Account' | translate }}
                                </span> 
                            </button>
                            <button type="button" clrDropdownItem>
                                {{ 'Recharge_Account' | translate }}
                            </button>
                            <button type="button" clrDropdownItem>
                                {{ 'Withdraw_Account' | translate }}
                            </button>
                            <button type="button" clrDropdownItem>
                                {{ 'Create_Game_Account' | translate }}
                            </button>
                            <button type="button" clrDropdownItem>
                                {{ 'Update_Game_Account' | translate }}
                            </button>
                            <button (click)="setDisplayModalResetFundPassword(true)" type="button" clrDropdownItem>
                                {{ 'Reset_Fund_Password' | translate }}
                            </button>
                            <button (click)="setdisplayModalResetPassword(true)" type="button" clrDropdownItem>
                                {{ 'Reset_Login_Password' | translate }}
                            </button>
                            <button type="button" clrDropdownItem>
                                {{ 'Set_To_Abnormal' | translate }}
                            </button>
                        </clr-dropdown-menu>
                    </clr-dropdown>
                </div>
            </div>
        </div>
        <div class="clr-col-12 card-activity-log">
            <div class="card">
                <div class="card-header">
                    <div class="clr-col-12 center-content">
                        {{ 'Activity_Log' | translate | uppercase }}
                    </div>
                </div>
                <div class="card-block">
                    <div *ngFor="let activity of activities | orderBy: 'date':true" class="activity-container">
                        <div class="date">
                            {{ activity.date | date: 'dd MMMM'}}
                        </div>
                        <div *ngFor="let value of activity.value | orderBy: 'createdAt':true" class="description-container p5">
                            <div class="description">
                                {{ value.description | translate }}
                            </div>
                            <div class="p7">
                                <app-date [date]="value.createdAt"></app-date>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clr-col-8">
        <div class="clr-col-12 cards-bet-summary">
            <div class="card">
                <div class="card-header">
                    <div class="clr-col-12 center-content">
                        {{ 'Bet_Summary' | translate | uppercase }}
                    </div>
                </div>
                <div class="card-block col-12">
                    <div *ngIf="showGraph && single[0]?.series?.length == 0"
                        class="clr-col-12 center-content">
                        {{ 'No_Bet_Records' | translate }}
                    </div>
                    <ngx-charts-line-chart *ngIf="showGraph && single[0]?.series?.length > 0"
                        [view]="view"
                        [scheme]="colorScheme"
                        [(results)]="single"
                        [gradient]="gradient"
                        [xAxis]="showXAxis"
                        [yAxis]="showYAxis"
                        [legend]="showLegend"
                        [showXAxisLabel]="showXAxisLabel"
                        [showYAxisLabel]="showYAxisLabel"
                        [xAxisLabel]="xAxisLabel"
                        [yAxisLabel]="yAxisLabel"
                        [autoScale]="autoScale"
                        [timeline]="timeline"
                        [curve]="curve"
                        [roundDomains]="roundDomains"
                        (select)="onSelect($event)">
                    </ngx-charts-line-chart>
                </div>
                <div class="card-footer">
                </div>
            </div>
        </div>
        <div class="clr-col-12 card-history">
            <div class="card">
                <div class="card-header">
                    <div class="clr-col-12 center-content">
                        {{ 'History' | translate | uppercase }}
                    </div>
                </div>
                <div class="card-block">
                    <clr-tabs>
                        <clr-tab>
                            <button clrTabLink id="bet-link">
                                {{ 'Bet' | translate }}
                            </button>
                            <clr-tab-content id="content1" *clrIfActive="true">
                                <clr-datagrid (clrDgRefresh)="fetchBets($event)" [clrDgLoading]="betLoading">
                                    <clr-dg-column clrDgField="id">
                                        {{ 'Id' | translate | uppercase }}
                                    </clr-dg-column>
                                    <clr-dg-column clrDgField="gameProvider.code">
                                        {{ 'Game_Code' | translate | uppercase }}
                                    </clr-dg-column>
                                    <clr-dg-column clrDgField="gameProvider.type">
                                        {{ 'Game_Type' | translate | uppercase }}
                                    </clr-dg-column>
                                    <clr-dg-column clrDgField="amount">
                                        {{ 'Amount' | translate | uppercase }}
                                    </clr-dg-column>
                                    <clr-dg-column clrDgField="status">
                                        {{ 'Status' | translate | uppercase }}
                                    </clr-dg-column>
                                    <clr-dg-row *ngFor="let bet of bets">
                                        <clr-dg-cell>
                                            {{ bet.id }}
                                        </clr-dg-cell>
                                        <clr-dg-cell>
                                            {{ bet.gameCode | translate }}
                                        </clr-dg-cell>
                                        <clr-dg-cell>
                                            {{ bet.gameType | translate }}
                                        </clr-dg-cell>
                                        <clr-dg-cell>
                                            {{ bet.amount | number }}
                                        </clr-dg-cell>
                                        <clr-dg-cell>
                                            {{ bet.status | translate }}
                                        </clr-dg-cell>        
                                    </clr-dg-row>
                                </clr-datagrid>
                            </clr-tab-content>
                        </clr-tab>
                        <clr-tab>
                            <button clrTabLink id="transaction-link">
                                {{ 'Transaction' | translate }}
                            </button>
                            <clr-tab-content *clrIfActive>
                                <clr-datagrid (clrDgRefresh)="fetchTransactions($event)" [clrDgLoading]="transactionLoading">
                                    <clr-dg-column clrDgField="id">
                                        {{ 'Id' | translate | uppercase }}
                                    </clr-dg-column>
                                    <clr-dg-column clrDgField="type">
                                        {{ 'type' | translate | uppercase }}
                                    </clr-dg-column>
                                    <clr-dg-column clrDgField="createdAt">
                                        {{ 'Date' | translate | uppercase }}
                                    </clr-dg-column>
                                    <clr-dg-column clrDgField="amount">
                                        {{ 'Amount' | translate | uppercase }}
                                    </clr-dg-column>
                                    <clr-dg-column clrDgField="status">
                                        {{ 'Status' | translate | uppercase }}
                                    </clr-dg-column>
                                    <clr-dg-row *ngFor="let transaction of transactions">
                                        <clr-dg-cell>
                                            {{ transaction.id }}
                                        </clr-dg-cell>
                                        <clr-dg-cell>
                                            {{ transaction.type | translate }}
                                        </clr-dg-cell>
                                        <clr-dg-cell>
                                            <app-date [date]="transaction.createdAt"></app-date>
                                        </clr-dg-cell>
                                        <clr-dg-cell>
                                            {{ transaction.amount | number }}
                                        </clr-dg-cell>
                                        <clr-dg-cell>
                                            {{ transaction.status | translate }}
                                        </clr-dg-cell>        
                                    </clr-dg-row>
                                </clr-datagrid>
                            </clr-tab-content>
                        </clr-tab>
                    </clr-tabs>
                </div>
                <div class="card-footer">
                </div>
            </div>
        </div>
    </div>
</div>
<clr-modal *ngIf="displayModal" [(clrModalOpen)]="displayModal" [clrModalClosable]="false" [clrModalStaticBackdrop]="true">
    <h3 class="modal-title">
        {{ 'Account Status' | translate }}
    </h3>
    <div class="modal-body">
        <p>
            {{ 'Are you sure you want to lock/unlock the account' | translate }}? 
        </p>
    </div>
    <div class="modal-footer">
        <button (click)="changeAccountStatus()" type="button" class="btn btn-primary-outline btn-sm" (click)="opened = false">
            <span *ngIf="user.status != 'active'">
                {{ 'unlock' | translate | translate | uppercase }}
            </span> 
            <span *ngIf="user.status == 'active'">
                {{ 'lock' | translate | translate | uppercase }}
            </span> 
        </button>

        <button type="button" class="btn btn-inverse btn-sm" (click)="setModalDisplay()">
            {{ 'Cancel' | translate }}
        </button>
    </div>
</clr-modal>

<clr-modal *ngIf="displayModalResetPassword" [(clrModalOpen)]="displayModalResetPassword" [clrModalClosable]="false" [clrModalStaticBackdrop]="true">
    <h3 class="modal-title">
        {{ 'Account Reset Password' | translate }}
    </h3>
    <div class="modal-body">
        <p>
            <input class="clr-input" [(ngModel)]="user.resetPassword"/>
            <span class="clr-subtext">
                {{ 'Are you sure you want to reset the account password' | translate }}? 
            </span>
        </p>
    </div>
    <div class="modal-footer">
        <button (click)="confirmResetPassword()" type="button" class="btn btn-primary-outline btn-sm" (click)="opened = false">
            <span>
                {{ 'Confirm' | translate }}
            </span>
        </button>

        <button type="button" class="btn btn-inverse btn-sm" (click)="setdisplayModalResetPassword()">
            {{ 'Cancel' | translate }}
        </button>
    </div>
</clr-modal>

<clr-modal *ngIf="displayModalResetFundPassword" [(clrModalOpen)]="displayModalResetFundPassword" [clrModalClosable]="false" [clrModalStaticBackdrop]="true">
        <h3 class="modal-title">
            {{ 'Account Reset Fund Password' | translate }}
        </h3>
        <div class="modal-body">
            <p>
                <input class="clr-input" [(ngModel)]="user.resetFundPassword"/>
                <span class="clr-subtext">
                    {{ 'Are you sure you want to reset the account fund password' | translate }}? 
                </span>
            </p>
        </div>
        <div class="modal-footer">
            <button (click)="confirmResetPassword()" type="button" class="btn btn-primary-outline btn-sm" (click)="opened = false">
                <span>
                    {{ 'Confirm' | translate }}
                </span>
            </button>
    
            <button type="button" class="btn btn-inverse btn-sm" (click)="setDisplayModalResetFundPassword()">
                {{ 'Cancel' | translate }}
            </button>
        </div>
    </clr-modal>