.divider {
    border-left: 1px solid #1a2a31;
}
.row {
    padding: 0;
}
.container {
    min-height: 150px;
    h4 {
        margin-top: 0;
    }
    .info-container {
        padding: 10px;
        .value , .title  {
            margin: 0;
            display: inline-flex;
            width: auto;
        }

        .value {
            float: right;
            font-weight: normal;
        }
        .label {
            font-weight: bold;
        }
    }
    .info-container:not(:last-child){
        border-bottom: 1px solid #1a2a31;
    }
}