<div class="main-header">

    <header class="header header-6 transparent-bg">
        <div class="branding">
          <a routerLink="/home" class="nav-link">
            <img src="/assets/img/logo.png" class="app-logo" alt="">
            <span class="title">{{ "APP_NAME" | translate }}</span>
        </a>
      </div>
      <div class="header-nav">

      </div>
      <div class="header-actions">
        <a hasNoPermission [routerLink]="'/auth/login'" routerLinkActive="active"  class="nav-link nav-text">
            Login
        </a>

        <clr-dropdown>
            <button  class="nav-text" clrDropdownTrigger>
                
                {{ currentLanguage | uppercase}}
                <clr-icon shape="language">
                </clr-icon>
                <clr-icon shape="caret down"></clr-icon>
            </button>
            <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
                <a (click)="selectLanguage('en-us')" clrDropdownItem>EN-US</a>
                <a (click)="selectLanguage('zh-cn')"  clrDropdownItem>ZH-CN</a>
   
            </clr-dropdown-menu>
        </clr-dropdown>
        <a hasPermission [routerLink]="'/logout'" routerLinkActive="active"  class="nav-link nav-text">
            Logout
        </a>
      </div>

      </header>
</div>