<section id="deposit-list-container">
    <section>
        <h1>{{ 'Deposit List' | translate }}</h1>
    </section>

    <clr-datagrid (clrDgRefresh)="refresh($event)">
        <clr-dg-column clrDgField="id">
            {{'Deposit_id' | translate }}
        </clr-dg-column>
        <clr-dg-column clrDgField="user.username">
            {{ 'Username' | translate}}
        </clr-dg-column>
        <clr-dg-column>
            {{ 'Creation_date' | translate }}
        </clr-dg-column>
        <clr-dg-column>
            {{ 'Type' | translate }}
            </clr-dg-column>
        <clr-dg-column>
            {{ 'Payment_Gateway' | translate }}
        </clr-dg-column>
        <clr-dg-column clrDgField="amount">
            {{ 'Amount' | translate }}
        </clr-dg-column>
        <clr-dg-column clrDgField="status">
            {{ 'Status' | translate }}
        </clr-dg-column>
        <clr-dg-column>
            {{ 'Operate' | translate }}
        </clr-dg-column>
        
        <clr-dg-row *clrDgItems="let depositTransaction of depositTransactions">
            <clr-dg-cell>
                <span>
                    {{ depositTransaction.id }}
                </span>
            </clr-dg-cell>
            <clr-dg-cell>
                {{ depositTransaction.user.username }}
            </clr-dg-cell>
            <clr-dg-cell>
                <app-date [date]="depositTransaction.createdAt">s</app-date>
            </clr-dg-cell>
            <clr-dg-cell>
                {{ depositTransaction.depositType | translate }}
            </clr-dg-cell>
            <clr-dg-cell>
                    {{ depositTransaction.paymentGateway | translate }}
                </clr-dg-cell>
            <clr-dg-cell>
                {{ depositTransaction.amount | number }}
            </clr-dg-cell>
            <clr-dg-cell>
                <span [ngClass]="{
                    'label-danger': ( depositTransaction.status | lowercase ) == 'reject',
                    'label-info': ( depositTransaction.status | lowercase ) == 'approved'
                }" class="label">
                    {{ depositTransaction.status | translate | uppercase }}
                </span>
            </clr-dg-cell>
            <clr-dg-cell>
                <button (click)="openModal('view', depositTransaction)" class="btn btn-sm btn-link">
                    <clr-icon shape="eye" class="is-solid"></clr-icon>
                    {{ 'View' | translate }}
                </button>
                <button (click)="openModal('audit', depositTransaction)" class="btn btn-sm btn-link">
                    <clr-icon shape="file-settings" class="is-solid"></clr-icon>
                    {{ 'Audit' | translate }}
                </button>
            </clr-dg-cell>
        </clr-dg-row>
        <clr-dg-footer>{{ depositTransactions.length }} Deposits</clr-dg-footer>
    </clr-datagrid>
</section>
<app-view-deposit-modal *ngIf="displayModal" [(displayModal)]="displayModal" [(deposit)]="deposit" (closeModal)="closeModal($event)"></app-view-deposit-modal>
<app-audit-deposit-modal *ngIf="displayAuditModal" [(displayModal)]="displayAuditModal" [(deposit)]="deposit" (closeModal)="closeModal($event)" (submit)="saveAudit($event)"></app-audit-deposit-modal>