<clr-modal [(clrModalOpen)]="displayModal" [clrModalClosable]="false" [clrModalStaticBackdrop]="true">
    <h3 class="modal-title">
        {{ 'Deposit Information' | translate }}
    </h3>
    <div class="modal-body">
        <div class="col-sm-12 row">
            <div class="col-sm-6 container">
                <div class="info-container">
                    <div class="title p7">
                        {{ 'Withdraw_Id' | translate }}: 
                    </div>
                    <div class="value p4">
                        {{ withdraw?.id }}
                    </div>
                </div>
                <div class="info-container">
                    <div class="title p7">
                        {{ 'Withdraw_Date' | translate }}: 
                    </div>
                    <div class="value p4">
                        <app-date [date]="withdraw?.createdAt"></app-date>
                    </div>
                </div>
                <div class="info-container">
                    <div class="title p7">
                        {{ 'Type' | translate }}: 
                    </div>
                    <div class="value p4">
                        {{ withdraw?.depositType | translate }}
                    </div>
                </div>
                <div class="info-container">
                    <div class="title p7">
                        {{ 'Payment_gateway' | translate }}: 
                    </div>
                    <div class="value p4">
                        {{ withdraw?.paymentGateway | translate }}
                    </div>
                </div>
                <div class="info-container">
                    <div class="title p7">
                        {{ 'Amount' | translate }}: 
                    </div>
                    <div class="value p4">
                        {{ withdraw?.amount | number }}
                    </div>
                </div>
                <div class="info-container">
                    <div class="title p7">
                        {{ 'Status' | translate }}: 
                    </div>
                    <div class="value p4">
                        <span [ngClass]="{
                            'label-danger': ( withdraw?.status | lowercase ) == 'reject',
                            'label-info': ( withdraw?.status | lowercase ) == 'approved'
                            }" class="label">
                            {{ withdraw?.status | translate | uppercase }}
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 container divider">
                <section>
                    <h4>
                        {{ 'User Details' | translate }}
                    </h4>
                </section>
                <section>
                    <div class="info-container">
                        <div class="title p7">
                            {{ 'Username' | translate }}: 
                        </div>
                        <div class="value p4">
                            {{ withdraw?.user.username }}
                        </div>
                    </div>
                    <div class="info-container">
                        <div class="title p7">
                            {{ 'Email' | translate }}: 
                        </div>
                        <div class="value p4">
                            {{ withdraw?.user.email }}
                        </div>
                    </div>
                    <div class="info-container">
                        <div class="title p7">
                            {{ 'Client_Ip' | translate }}: 
                        </div>
                        <div class="value p4">
                            {{ withdraw?.user.ip }}
                        </div>
                    </div>
                    <div class="info-container">
                        <div class="title p7">
                            {{ 'Username' | translate }}: 
                        </div>
                        <div class="value p4">
                            {{ withdraw?.user.username }}
                        </div>
                    </div>
                    <div class="info-container">
                        <div class="title p7">
                            {{ 'Agency' | translate }}: 
                        </div>
                        <div class="value p4">
                            {{ withdraw?.user.agency }}
                        </div>
                    </div>
                    <div class="info-container">
                        <div class="title p7">
                            {{ 'Credits' | translate }}: 
                        </div>
                        <div class="value p4">
                            {{ withdraw?.user.credits | number }}
                        </div>
                    </div>
                    <div class="info-container">
                        <div class="title p7">
                            {{ 'Status' | translate }}: 
                        </div>
                        <div class="value p4">
                            <span [ngClass]="{
                                'label-danger': ( withdraw?.user.status | lowercase ) != 'active',
                                'label-info': ( withdraw?.user.status | lowercase ) == 'active'
                                }" class="label">
                                {{ withdraw?.user.status | translate | uppercase }}
                            </span>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-inverse" (click)="close()">
            {{ 'Close' | translate }}
        </button>
    </div>
</clr-modal>