<div class="main-container">
    <app-header></app-header>
    <div class="content-container">
        <div class="content-area">
            <router-outlet></router-outlet>
        </div>
        <clr-vertical-nav>
            <a clrVerticalNavLink routerLink="./dashboard" routerLinkActive="active">
                <clr-icon shape="dashboard" class="is-solid"></clr-icon> {{ 'Dashboard' | translate }}
            </a>
            <clr-vertical-nav-group>
                <clr-icon shape="user" clrVerticalNavIcon></clr-icon>
                {{ 'User Management' | translate }}
                <clr-vertical-nav-group-children>
                    <a clrVerticalNavLink
                    routerLink="/users"
                    routerLinkActive="active">
                    <clr-icon shape="users" clrVerticalNavIcon></clr-icon>
                        {{ 'User List' | translate }} 
                    </a>
                    <a clrVerticalNavLink
                    routerLink="/users/level/list"
                    routerLinkActive="active">
                    <clr-icon shape="assign-user" clrVerticalNavIcon></clr-icon>
                        {{ 'Level List' | translate }} 
                    </a>
                </clr-vertical-nav-group-children>
            </clr-vertical-nav-group>
            <clr-vertical-nav-group
                routerLinkActive="active">
                <clr-icon shape="administrator" clrVerticalNavIcon></clr-icon>
                {{ 'Operator Management' | translate }}
                <clr-vertical-nav-group-children>
                    <a clrVerticalNavLink>
                        {{ 'Input Fields' | translate }} 
                    </a>
                    <a clrVerticalNavLink>
                        {{ 'Roles and Permission' | translate }}
                    </a>
                    <a clrVerticalNavLink>
                        {{ 'Currency' | translate }}
                    </a>
                    <a clrVerticalNavLink>
                        {{ 'Payment Gateway' | translate }}
                    </a>
                    <a clrVerticalNavLink>
                        {{ 'Commission Rates' | translate }}
                    </a>
                    <a clrVerticalNavLink>
                        {{ 'Curates Games' | translate }}
                    </a>
                </clr-vertical-nav-group-children>
            </clr-vertical-nav-group>
            <clr-vertical-nav-group>
                <clr-icon shape="assign-user" clrVerticalNavIcon></clr-icon>
                {{ 'Agent Management' | translate }}
                <clr-vertical-nav-group-children>
                    <a clrVerticalNavLink
                        routerLink="/agents/list"
                        routerLinkActive="active">
                        {{ 'List' | translate }} 
                    </a>
                </clr-vertical-nav-group-children>
            </clr-vertical-nav-group>
            <a clrVerticalNavLink routerLink="./dashboard" routerLinkActive="active">
                {{ 'Finance Management' | translate }}
            </a>
            <clr-vertical-nav-group
                routerLinkActive="active">
                <clr-icon shape="coin-bag" clrVerticalNavIcon></clr-icon>
                {{ 'Deposit Management' | translate }}
                <clr-vertical-nav-group-children>
                    <a clrVerticalNavLink
                    routerLink="/deposit/list"
                    routerLinkActive="active">
                        {{ 'List' | translate }} 
                    </a>
                    <a clrVerticalNavLink
                    routerLink="./normal/snorlax"
                    routerLinkActive="active">
                    {{ 'Offline Deposit' | translate }} 
                    </a>
                </clr-vertical-nav-group-children>
            </clr-vertical-nav-group>
            <clr-vertical-nav-group
                routerLinkActive="active">
                <clr-icon shape="dollar-bill" clrVerticalNavIcon></clr-icon>
                {{ 'Withdraw Management' | translate }}
                <clr-vertical-nav-group-children>
                    <a clrVerticalNavLink
                    routerLink="/withdraw/list"
                    routerLinkActive="active">
                        {{ 'List' | translate }} 
                    </a>
                </clr-vertical-nav-group-children>
            </clr-vertical-nav-group>
            <clr-vertical-nav-group
                routerLinkActive="active">
                <clr-icon shape="dollar-bill" clrVerticalNavIcon></clr-icon>
                {{ 'Transaction Management' | translate }}
                <clr-vertical-nav-group-children>
                    <a clrVerticalNavLink
                    routerLink="/transactions/list"
                    routerLinkActive="active">
                        {{ 'List' | translate }} 
                    </a>
                </clr-vertical-nav-group-children>
            </clr-vertical-nav-group>
            <a clrVerticalNavLink routerLink="./dashboard" routerLinkActive="active">
                {{ 'Report Management' | translate }}
            </a>
            <a clrVerticalNavLink routerLink="./dashboard" routerLinkActive="active">
                {{ 'Settlement Management' | translate }}
            </a>
            <a clrVerticalNavLink routerLink="./dashboard" routerLinkActive="active">
                {{ 'Log Management' | translate }}
            </a>
            <a clrVerticalNavLink routerLink="/activity" routerLinkActive="active">
                {{ 'Activity Management' | translate }}
            </a>
        </clr-vertical-nav>
    </div>
</div>