<div class="login-wrapper">
    <form class="login" (submit)="login($event)">
        <section class="title">
            <h3 class="welcome">Welcome to</h3>
            Hacho Gaming
            <!-- <h5 class="hint">Use your Company ID to sign in or create one now</h5> -->
        </section>
        <div class="login-group">
            <clr-input-container>
                <input type="text" name="username" clrInput 
                placeholder="Username" [(ngModel)]="form.username"
                autocomplete="off"/>
            </clr-input-container>
            <clr-password-container>
                <input type="password" name="password" clrPassword
                placeholder="Password" [(ngModel)]="form.password"
                autocomplete="off"/>
            </clr-password-container>
            <!-- <div *ngIf="failedToLogin == false && ( form.username != '' && form.password != '')"
                class="error active">
                Invalid user name or password
            </div> -->
            <button type="submit" class="btn btn-primary">NEXT</button>
        </div>
    </form>
</div>