// Start DataGrid set max height
#deposit-list-container,
#user-list-container,
#withdraw-list-container,
#list-activity-container,
#deposit-list-container,
#user-level-list-container,
#transaction-list-container {
    .datagrid-host {
        max-height: 450px;
    }
    .datagrid .datagrid-cell {
        line-height: unset;

        .label {
            width: 100%;
            font-weight: bold;

        }
    }
}
.btn-inverse {
    border-color: #f4f4f4 !important;
    color: #f4f4f4 !important;
}
// End DataGrid set max height
.center-content {
    text-align: center;
}

.right-content {
    text-align: right;
}

.success-text {
    color: #0079b8;
}
.error-text {
    color: #e12200;
}

.success-text ,.error-text {
    font-weight: bold;
}
::-webkit-scrollbar {
    background: #21343b;
}
::-webkit-scrollbar-thumb {
    background: #1a2a31;
}
.row {
    margin: 0;
}