<section id="withdraw-list-container">
    <section>
        <h1>{{ 'Withdraw List' | translate }}</h1>
    </section>
    <section>
        <clr-datagrid (clrDgRefresh)="fetchWithdrawList($event)">
            <clr-dg-column clrDgField="id">
                {{'Withdraw_id' | translate }}
            </clr-dg-column>
            <clr-dg-column clrDgField="user.username">
                {{ 'Username' | translate}}
            </clr-dg-column>
            <clr-dg-column clrDgField="createdAt">
                {{ 'Creation_date' | translate }}
            </clr-dg-column>
            <clr-dg-column clrDgField="type">
                {{ 'Type' | translate }}
                </clr-dg-column>
            <clr-dg-column>
                {{ 'Payment_Gateway' | translate }}
            </clr-dg-column>
            <clr-dg-column clrDgField="amount">
                {{ 'Amount' | translate }}
            </clr-dg-column>
            <clr-dg-column clrDgField="amount">
                {{ 'Status' | translate }}
            </clr-dg-column>
            <clr-dg-column>
                {{ 'Action' | translate }}
            </clr-dg-column>
            
            <clr-dg-row *clrDgItems="let withdrawTransaction of withdrawTransactions">
                <clr-dg-cell>
                    {{ withdrawTransaction.id }}
                </clr-dg-cell>
                <clr-dg-cell>
                    {{ withdrawTransaction.user.username }}
                </clr-dg-cell>
                <clr-dg-cell>
                    <app-date [date]="withdrawTransaction.createdAt">s</app-date>
                </clr-dg-cell>
                <clr-dg-cell>
                    {{ withdrawTransaction.depositType | translate }}
                </clr-dg-cell>
                <clr-dg-cell>
                        {{ withdrawTransaction.paymentGateway | translate }}
                    </clr-dg-cell>
                <clr-dg-cell>
                    {{ withdrawTransaction.amount | number }}
                </clr-dg-cell>
                <clr-dg-cell>
                    <span [ngClass]="{
                        'label-danger': ( withdrawTransaction.status | lowercase ) == 'failed',
                        'label-info': ( withdrawTransaction.status | lowercase ) == 'success'
                    }" class="label">
                        {{ withdrawTransaction.status | translate }}
                    </span>
                </clr-dg-cell>
                <clr-dg-cell>
                    <button (click)="viewWithdraw(withdrawTransaction)" class="btn btn-sm btn-link">
                        <clr-icon shape="eye" class="is-solid"></clr-icon>
                        {{ 'View' | translate }}
                    </button>
                </clr-dg-cell>
            </clr-dg-row>
            <clr-dg-footer>{{ withdrawTransactions?.length }} Withdraws</clr-dg-footer>
        </clr-datagrid>
    </section>
</section>
<app-view-withdraw-modal *ngIf="displayModal" [(displayModal)]="displayModal" [(withdraw)]="withdraw" (closeModal)="setDisplayModal($event)"></app-view-withdraw-modal>
